/*-- scss:defaults --*/
// see: https://github.com/hakimel/reveal.js/blob/master/css/theme/template/settings.scss
// see: https://github.com/hakimel/reveal.js/blob/master/dist/theme/simple.css
// see: https://quarto.org/docs/presentations/revealjs/themes.html
@import url(https://fonts.googleapis.com/css?family=Roboto);

$font-family-sans-serif: Roboto;
$presentation-heading-font: Roboto;
$presentation-heading-color: #6699CC;
$presentation-heading-line-height: 1.25;
$presentation-line-height: 1.5;
$presentation-font-size-root: 36px;
$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.5em;
$presentation-h3-font-size: .9em;
$code-block-font-size: .55em;

/*-- scss:rules --*/

.reveal details > summary:first-of-type {
    list-style-type: "</>";
    font-size: 16px;
}

.reveal details[open] > summary:first-of-type {
    list-style-type: "<\\>";
}

.reveal details {
  margin-bottom: 0em;
}

.reveal pre code {
  color: #201F1F;
}

.reveal pre code {
  color: #201F1F;
}

.reveal .pt5 {
    font-size: .5em;
}

.reveal .pt6 {
    font-size: .5em;
}

.reveal .pt7 {
    font-size: .7em;
}

.reveal .m2 {
  font-size: 2em;
}

.reveal .m3 {
  font-size: 3em;
}
